.header{
  box-sizing: border-box;
  top: 0;
  z-index: 99;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 45px;
  padding-top: 10px;
  
  height: 80px;
  position: fixed;
  width: 100%;

  background-color: #F0D7D5ac;
  backdrop-filter: blur(15px);

  @include onLap{
    padding-top: 0;
    height: 60px;
  }


  &__container-icon-nav{
    display: flex;
    
    align-items: center;
    gap: 30px;
  }

  &__logo{
    display: flex;
    height: 30px;
    width: 30px;
  }

  &__icons{
    display: none;
    @include onLap{
      display: flex;
    }
    gap: 10px;
  }
}
